body {
    background-image: url(Imagenes/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin: 0;
}

* {
    border-radius: 10px;
}

#indice {
    background-color: rgba(80, 78, 55, 0.8);
}

#index {
    background-color: rgb(65, 63, 44);
    padding-top: 5px;
}

h1,
section {
    margin: auto;
    width: 20dvw;
    min-height: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px black;
    padding: 15px
}

h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 300%;

}

.container {
    height: fit-content;
}

/*Limpia el float para que la imagen no se salga del contenedor*/
.container::after {
    content: "";
    display: table;
    clear: both;
}

.flex-container {
    display: flex;
    justify-content: center;
}

section {
    margin-top: 20px;
    transition: transform;
    transition-duration: 1s;
}

img {
    width: 200px;
}

p {
    font-size: 135%
}

.izq {
    float: left;
    margin-right: 20px;
}

.der {
    float: right;
    margin-left: 20px;

}

section:hover {
    transform: scale(1.03);
}

h2,
h3 {
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    text-align: center;
    margin: auto;
}

h2 {
    width: 60%;
    margin: auto;
    font-size: 185%;
}

h3 {
    width: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 155%;
}

table,
th,
td {
    border: 2px solid;
    border-collapse: collapse;

}

table {
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    margin-top: 50px;
    transform: scale(1.2);
}

th {
    color: white;
    border-color: black;
    background-color: rgb(0, 25, 109);
    border-radius: 0;
}

td {
    text-align: center;
}

#h3gata {
    margin-top: 35px;
}

footer {
    background-color: rgb(80, 78, 55);
    height: 80px;
    margin-top: 20px;
    border-radius: 0;
    text-align: right;
    font-weight: bold;
}

address {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(168, 164, 130);
}

a:hover {
    text-decoration: underline;
}

ol {
    margin: auto;
    width: fit-content;
}


li {
    margin: auto;
    width: fit-content;
    font-size: x-large;
}

li.habilidad,
li.nav {
    margin-left: 0;

}

img.hobbie {
    margin-left: calc(50% - 100px);
    margin-bottom: 5%;
}

@media(max-width: 1900px) {

    section,
    h1 {
        width: 50dvw;
    }

    footer {
        font-size: 80%;
    }

    table {
        transform: scale(1);
    }
}

@media(max-width: 550px) {

    section,
    h1 {
        width: 80dvw;
    }

    img {
        width: 40vw
    }

    img.hobbie {
        margin-left: calc(50% - 40vw / 2);
    }

    table {
        transform: scale(0.9);
        margin-inline: 0;
    }
}

@media(max-width: 312px) {
    section {
        padding: 5px;
    }

    ol>li {
        font-size: 150%;
    }

    body {
        font-size: 60%;
    }

    footer {
        font-size: 50%;
    }

}