/*HACER ÍNDICE*/
/*¿PLANES A FURUTO? ¿HABILIDADES?*/

body{
    background-image: url(Imagenes/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin: 0;
}

*{
    border-radius: 10px;
}

#indice{
    background-color: rgba(80, 78, 55, 0.8);
}

#index{
    background-color: rgb(65, 63, 44);
    padding-top: 5px;
}

h1, section{
    margin: auto;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px black;
    padding: 15px
    
}

h1{
    margin-top: 20px;
    text-align: center;
    font-size: 300%;

}

section{
    margin-top: 20px;
    transition: all;
    transition-duration: 1s;
}

img{ 
    width: 200px;
}

p{
    font-size: 135%
}

.izq{
    float: left;
    margin-right: 20px;
}

.der{
    float: right;
    margin-left: 20px;

}

section:hover{
    transform: scale(1.03);
}

#estudios{
    height: 250px;
}

#mascotas{
    height: 765px;
}

h2, h3{
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    text-align: center;
    margin: auto;
}

h2 {
    width: 225px;
    margin: auto;
    font-size: 185%;
}

h3{
    width: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 155%;
}

table, th, td{
    border: 2px solid;
    border-collapse: collapse;

}

table{
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    margin-top: 50px;
    transform: scale(1.2);
}

th{
    color: white;
    border-color: black;
    background-color: rgb(0, 25, 109);
    border-radius: 0;
}

td{
    text-align: center;
}

#h3gata{
    margin-top: 35px;
}

footer{
    background-color: rgb(80, 78, 55);
    height: 80px;
    margin-top: 20px;
    border-radius: 0;
    text-align: right;
    font-weight: bold;
}

address{
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(168, 164, 130);
}

a:hover{
    text-decoration: underline;
}

li{
    font-size: x-large;
}

li.hobbie{
    margin-left: 85px;
    margin-top: 50px;
}

li.habilidad{
    margin-left: 75px;
}

img.hobbie{
    margin-left: 55px;
}

@media(max-width: 480px) {
    section, h1 {
        transform: scale(0.90);
    }

    section:hover {
        transform: scale(0.85);
    }

    footer {
        font-size: 80%;
    }
        
}
